pandas==2.1.1
numpy
matplotlib
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
torchlibrosa==0.1.0 
tensorboard
fire
tqdm
scikit-learn
librosa
nnAudio
timm==0.4.5
#transformers
einops
easydict
#torchlibrosa
gradio==3.47.1 
gdown 
lightning
transformers==4.28.1 
sentence-transformers
huggingface_hub
ftfy
braceexpand
webdataset
soundfile
wget
h5py
pyyaml
fast_bss_eval

IPython

